.container {
    display: flex;
}

@media screen and (min-width: 431px) {
    .container {
        flex-direction: row;
    }
}

@media screen and (max-width: 430px) {
    .container {
        flex-direction: column;

    }
}


.container>.menuentry {
    background-color:darkcyan;
    height: 50px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container>.menuentry:hover {
    background-color: darkslategray;
    color: white;
}

