<footer>
  <h3>This is an static footer</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum sem sed lorem dictum, vel congue massa interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur non venenatis nisl. Sed eu vulputate justo. Aenean consequat eget lacus ut feugiat. Ut sagittis eros augue, et cursus orci laoreet a. Mauris in turpis id massa suscipit eleifend. Aliquam at purus turpis. Quisque auctor a magna at malesuada. Maecenas orci risus, aliquet eu velit ut, placerat blandit sem. Sed ornare lorem at arcu consectetur feugiat. Proin ultricies, enim quis feugiat tristique, tortor ipsum congue elit, non tincidunt odio dui sit amet nulla. Vivamus dolor tortor, rutrum volutpat nisl a, vestibulum tempor turpis.</p>
</footer>
